/* Heatmap.css */
.heatmap-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nivo-heatmap {
    width: 100%;
    height: 100%;
}

/* Responsive font sizes for axis labels and values */
.nivo-axis__x text,
.nivo-axis__y text {
    font-size: calc(0.5vw + 0.5em);
    /* Responsive font size */
}

/* Responsive font size for legend text */
.nivo-legends text {
    font-size: calc(0.5vw + 0.5em);
    /* Responsive font size */
}

/* Responsive padding and legend color adjustments */
@media (max-width: 1024px) {
    .heatmap-container {
        padding: 5px;
    }

    .nivo-axis__x text,
    .nivo-axis__y text {
        font-size: 12px;
        /* Adjust font size for x and y axis labels */
    }

    .nivo-legends text {
        font-size: 12px;
        /* Adjust font size for legend text */
    }
}

@media (max-width: 768px) {
    .heatmap-container {
        padding: 5px;
    }

    .nivo-axis__x text,
    .nivo-axis__y text {
        font-size: 10px;
        /* Further reduce font size for smaller screens */
    }

    .nivo-legends text {
        font-size: 10px;
        /* Further reduce font size for legend text */
    }
}

@media (max-width: 480px) {
    .heatmap-container {
        padding: 2px;
    }

    .nivo-axis__x text,
    .nivo-axis__y text {
        font-size: 8px;
        /* Reduce font size for very small screens */
    }

    .nivo-legends text {
        font-size: 8px;
        /* Reduce font size for legend text */
    }
}
